.input {
    height: 34px;

    padding: 5px 10px;
    margin: 0 10px;

    background: var(--second);

    font-size: 18px;
    
    border-radius: 10px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: .1);
}