.limits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    justify-self: end;
}

@media screen and (max-width: 920px) {
    .limits {
        justify-self: center;
        order: -1;
    }
}